.container_board {
    margin-right: 5%;
    margin-left: 5%;
}

h1 {
    color: green; /* 글자색 */
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    line-height: 23px; /* 줄 간격 */
}

table th, td {
    border: #d3d3d3 solid 1px;
    padding: 5px;
}

th {
    background: #cabcab;
    width: 120px;
    text-align: center;
    font-size: 15px;
}

img {
    width: 220px;
    height: 300px;
}

a {
    text-decoration: none; /* 링크 밑줄 없애기 */
    color: gray;
}

a:hover {
    text-decoration: underline; /* 밑줄 */
    color: black;
    cursor: pointer;
}

.col {
    text-align: center;
    width: 70px;
}

.paging {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    margin: 20px 0; /* 상하 여백 추가 (필요시) */
}

.pagination {
    display: flex; /* Flexbox 사용 */
}

.pagination .page-link {
    color: gray; /* 기본 글자색 */
}

.pagination .page-link:hover {
    color: black; /* 호버 시 글자색 */
}

.pagination .page-item.active .page-link {
    color: #ffffff; /* 활성 페이지의 글자색 */
    background-color: #cabcab; /* 활성 페이지의 배경색 */
}

.pagination .page-link.disabled {
    color: #6c757d; /* 비활성 링크의 글자색 (예: 회색) */
}

.header {
    display: flex;
    justify-content: space-between; /* 양쪽 끝에 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
    padding: 10px; /* 패딩 추가 */
}

.header input[type="button"] {
    padding: 6px 12px; /* 패딩 추가 */
    border: none; /* 테두리 제거 */
    border-radius: 4px; /* 둥근 모서리 */
    background-color: #cabcab; /* 배경색 */
    color: #fff; /* 글자색 */
    cursor: pointer; /* 커서 모양 변경 */
    height: 40px; /* 버튼 높이 설정 */
    margin-right: auto; /* 버튼을 왼쪽 정렬 */
}

.search {
    display: flex; /* Flexbox 사용 */
    align-items: center; /* 세로 중앙 정렬 */
    justify-content: flex-end; /* 오른쪽 정렬 */

}

.search select,
.search input[type="text"],
.search button {
    margin-left: 10px; /* 요소 간 여백 */
    height: 40px; /* 입력 요소 높이 설정 */
}

.search select {
    padding: 5px; /* 패딩 추가 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 4px; /* 둥근 모서리 */
    background-color: #fff; /* 배경색 */
}

.search input[type="text"] {
    padding: 5px; /* 패딩 추가 */
    border: 1px solid #ccc; /* 테두리 */
    border-radius: 4px; /* 둥근 모서리 */
    width: 200px; /* 입력창 너비 조절 */
}

.search button {
    padding: 6px 12px; /* 패딩 추가 */
    border: none; /* 테두리 제거 */
    border-radius: 4px; /* 둥근 모서리 */
    background-color: #cabcab; /* 버튼 배경색 */
    color: #fff; /* 글자색 */
    cursor: pointer; /* 커서 모양 변경 */
}

.search button:hover {
    background-color: #b8ab9c; /* 호버 시 배경색 */
}